.nav-bar a{
    color:black;
    margin: 20px;
    text-decoration:none;
}
body{
    margin:0px;
}
.nav-bar{
    display: flex;
    flex-flow: row-reverse; 
    background-color: rgba(211, 211, 211, 0.4);
}

.nav-bar a:hover{
    color: rgb(25, 12, 214)
}